<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ClienteMapper">
    <select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
        select
            c.nombre,
            c.documento,
            c.telefono,
            c.direccion,
            c.email,
            c.vetado,
            ir.id ,
            ir.fechainiciorenta ,
            ir.fechafinrenta ,
            i.id as i_id,
            i.nombre as i_nombre,
            i.descripcion ,
            i.fechalanzamiento ,
            i.tarifaxdia ,
            i.formatorenta ,
            i.genero ,
            ti.id as ti_id,
            ti.descripcion as tipo_descripcion
            FROM VI_CLIENTES as c
            left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento
            left join VI_ITEMS as i on ir.ITEMS_id=i.id
            left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
    </select>

    <resultMap type='Cliente' id='ClienteResult' >
        <id property='documento' column='documento'/>
        <result property='nombre' column='nombre'/>
        <result property='telefono' column='telefono'/>
        <result property='direccion' column='direccion'/>
        <result property='email' column='email'/>
        <result property='vetado' column='vetado'/>
        <collection property='rentados' ofType='ItemRentado' resultMap='ItemRentadoResult' columnPrefix='itemRentado_'></collection>
    </resultMap>
    <resultMap type='Item' id="ItemResult">
        <association property="item" javaType="Item" columnPrefix='item_' resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult'></association>
    </resultMap>

    <resultMap type='TipoItem' id="TipoItemResult">
        <association property="tipoItem" javaType="TipoItem" columnPrefix='tipoItem_' resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper.TipoItemResult'></association>
    </resultMap>

    <resultMap type='ItemRentado' id="ItemRentadoResult">
        <association property="itemRentado" javaType="ItemRentado" columnPrefix='itemRentado_' resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult'></association>
    </resultMap>
</mapper>